/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');
.font-digital {
    color: #0f172a; /* لون Slate-900 غامق جداً */
    text-shadow: 0 0 10px rgba(15, 23, 42, 0.1); /* ظل خفيف جداً يعطي عمق للرقم */
}

body {
    font-family: 'Tajawal', sans-serif;
    background-color: #65acf3;
    margin: 0;
}

/* القائمة الجانبية */
#main-sidebar {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-closed {
    transform: translateX(100%);
}

.sidebar-open {
    transform: translateX(0);
}

/* الرابط النشط */
.active-link {
    background: rgba(250, 204, 21, 0.1) !important;
    border-right: 4px solid #facc15 !important;
    color: #facc15 !important;
}

/* شريط التمرير */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
}
